.main__study {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.main__studys {
  display: flex;
  flex-direction: column;
  border-top: 1px dotted white;
  border-bottom: 1px dotted white;
  padding: 10px 0px;
}

.main__study--title {
  font-size: 20px;
  color: yellow;
  opacity: 0.7;
}
